.loginForm {
  border-radius: 15px;
  background-color: bisque;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin: 1.5rem auto;
  padding: 2rem 0;
  p {
    border-radius: 30px;
    padding: 0.75rem 2rem;
    text-align: center;
    background-color: crimson;
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }

  .formGroup {
    width: 70%;
    label {
      display: flex;
      justify-content: center;
      font-size: 1.25rem;
    }
  }

  .imgContainer {
    margin-top: 1rem;
    width: 40%;
    height: 40%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .loginForm {
    width: 70vw;
    margin-top: 3rem;

    .formGroup {
      width: 80%;
    }

    .imgContainer {
      width: 60%;
      height: 60%;
    }
  }
}

@media (min-width: 577px) and (max-width: 1024px) {
  .loginForm {
    width: 70vw;
    margin-top: 12%;
  }
}
