.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  h2 {
    flex: 2 1 30px;
    font-size: 2.25rem;
    text-align: center;
    font-weight: bold;
  }
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  label {
    font-size: 1.25rem;
    margin: 0 15px;
  }
  input {
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 20%;
    &:focus {
      animation: color-changed ease-in-out 10s infinite forwards;
    }
  }
  //讓google & safari的input箭頭隱藏
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  button {
    margin-left: 15px;
  }
}

.btn-field {
  display: flex;
  justify-content: center;
  flex: 1 1;
}

@keyframes color-changed {
  0% {
    outline: crimson 2px solid;
  }
  25% {
    outline: yellow 2px solid;
  }
  50% {
    outline: greenyellow 2px solid;
  }
  75% {
    outline: darkblue 2px solid;
  }
  100% {
    outline: blueviolet 2px solid;
  }
}

@media (max-width: 576px) {
  .controller {
    h2 {
      display: none;
    }
  }

  .input-field {
    flex: 1.5 1;
    label,
    input,
    button {
      font-size: 0.75rem;
      margin: 0 5px;
    }
    button {
      padding: 5px 20px;
    }
  }

  .btn-field button {
    font-size: 0.75rem;
    margin: 0 5px;
    padding: 5px 20px;
  }
}

@media (min-width: 577px) and (max-width: 820px) {
  .controller {
    h2 {
      display: none;
    }
  }
}

@media (min-width: 821px) and (max-width: 1024px) {
  .controller {
    h2 {
      flex: 1 1;
      padding: 0;
    }
  }
}
