.vocContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
}

.class {
  .error {
    text-align: center;
    font-size: 1.25rem;
    padding: 5px 0;
    background-color: lightsalmon;
  }
}
