.dictionary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 3rem 0;
  position: relative;
  h1 {
    font-size: 2.5rem;
  }
}

.input-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  input {
    font-size: 2.5rem;
    border-radius: 50px;
    outline: none;
    padding: 5px 20px;
  }
  svg {
    cursor: pointer;
    font-size: 3rem;
    margin: 0 1rem;
    transform: rotate(5deg);
    transition: animation 2s ease;
    &:hover {
      animation: swing 2s infinite ease-in-out;
    }
  }
}

.foundResult {
  background-color: burlywood;
  border-radius: 15px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;

  .resultContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  h2 {
    padding: 0 15px;
    margin-top: 20px;
  }

  span {
    padding: 0 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: orangered;
  }
}

.repeat-hint {
  padding: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  background: #e63f00;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  right: 30px;
  animation: jumpingDown ease 0.5s 1 normal forwards;
}

@keyframes jumpingDown {
  from {
    bottom: 50px;
  }
  to {
    bottom: 20px;
  }
}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@media (max-width: 576px) {
  .dictionary h1 {
    font-size: 1.75rem;
  }

  .input-field {
    input {
      font-size: 1.25rem;
      padding: 5px 10px;
    }
    svg {
      font-size: 2rem;
      margin: 0 10px;
    }
  }

  .foundResult {
    width: 80%;
    h2 {
      margin-top: 10px;
      font-size: 1rem;
    }
    span {
      font-size: 1rem;
    }
    svg {
      padding: 0;
      padding-bottom: 5px;
    }
  }

  .repeat-hint {
    font-size: 1rem;
    padding: 10px;
  }
}

@media (min-width: 577px) and (max-width: 1024px) {
  .input-field {
    input {
      font-size: 2rem;
      padding: 5px 15px;
    }
    svg {
      font-size: 2.75rem;
    }
  }

  .foundResult {
    width: 80%;
    h2 {
      font-size: 1.25rem;
    }
    span {
      font-size: 1.25rem;
    }
    svg {
    }
  }

  .repeat-hint {
    padding: 15px;
    font-size: 1.25rem;
  }
}
