.dialog {
  color: white;
  border: none;
  border-radius: 8px;
  width: 45%;
  background: sienna;
  padding: 10px 30px;

  p {
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  h1 {
    font-size: 2rem;
    margin-right: 20px;
    margin-top: 20px;
  }
}

.actions {
  display: flex;
  justify-content: end;
  button {
    margin: 10px 10px;
  }
}

@media (max-width: 576px) {
  .dialog {
    width: 80%;
    padding: 10px 15px;

    p {
      font-size: 1rem;
    }
  }

  .header {
    h1 {
      font-size: 1.25rem;
    }
  }
}

@media (min-width: 577px) and (max-width: 1024px) {
  .dialog {
    width: 70%;
  }
}
